body {
	background-color: #ceeae0;
	font-family: 'Aldrich', sans-serif;
}

h1, h3, h5, form, #title {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

textarea { 
    width: 400px; 
    height: 50px; 
}

div.post { 
	background-color: white;
	border: 1px solid #999;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%; 
}

hr.postbound { 
	width: 50%%; 
}

em.date { 
	color: #999 
}

button { 
	margin: 10px;
}
