<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
	<title>{{categories.name}}</title>
</head>
<body>

	<div class="container">

		<div class="header">

			<div class="left">

				<p>Catalog</p>

				<a href='{{url_for("itemInCategoryJSON", categories_id=categories.id)}}'>View Category JSON</a>

			</div>

			<div class="right">

				{% if client_logged_in == False %}

					<a href='{{url_for("show_login")}}'>Log In</a>	
		
				{% else %}

					<a href='{{url_for("sign_out")}}'>Log Out</a>

					<br />

					<a href='{{url_for("new_items", categories_id = categories.id)}}'>Add New Item</a>

					<br />

				{% endif %}

				<br />

				<a href='{{url_for("main")}}'>Back</a>

				<br />

			</div>

		</div>

		<div class="title">

			<h1>{{categories.name}}</h1>

		</div>

		<br />

		<div class="list">
	
			{% for i in items %}

			<div class="box">
			
				<p>{{i.name}}</p> 

				<br />
	
				<p>{{i.description}}</p>

				{% if is_admin == True or i.owner_id == user_id %}

					<br />

					<a href='{{url_for("remove_item", categories_id = categories.id, items_id = i.id)}}'>Remove</a>

				{% endif %}

				<br> 

				<a href='{{url_for("itemJSON", categories_id = categories.id, items_id = i.id)}}'>View Item JSON</a>
	
				<br /><br />

			</div>

			{% endfor %}

		</div>
	</div>

</body>
</html>