<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
	<title>Categories</title>
</head>
<body>
	<h1> Categories </h1>

	<br /><br />

	<div class="list">
	
		{% for c in categories %}
			<a href='{{url_for("show_items", categories = categories, items = null, categories_id = c.id)}}'>
			<h3>{{c.name}}</h3>
			</a>
			{% if is_admin == true %}
			<a href='{{url_for("remove_category", categories_id=c.id)}}'>Remove Category</a>
			{% endif %}
			<br /><br />
	
			
		{% endfor %}

	</div>

	<div class="foot">

		<h1> Footer </h1>

		{% if client_logged_in == False %}

		<a href='{{url_for("show_login")}}'>Log In</a>	
		
		{% else %}

		<a href='{{url_for("sign_out")}}'>Log Out</a>

		{% endif %}
		
		<br />

		{% if is_admin == true %}

		<a href='{{url_for("new_category")}}'>Add Category</a>

		{% endif %}

		<br />



	</div>


</body>
</html>