<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
	<title>New Item</title>
</head>
<body>
	<h1> Add a new item to {{category.name}}? </h1>

	<br /><br />
	<form method = post>
		<p> What is the item name? </p><br />
		<input type="text" name="item_name" placeholder="Enter Item Name...">
		<input type="text" name="item_desc" placeholder="Enter Description Here">
		<button formaction="/categories/{{category.id}}/new/confirmed/">Add New Item to {{category.name}}</button>
	</form>


	<a href='{{url_for("main")}}'>Back</a>
</body>
</html>